			<div class="abs" id="bar_bottom">
				<a class="float_left" href="#" id="show_desktop" title="Show Desktop">
					<img src="{{ asset('bundles/app/css/jquery/desktop/images/icons/icon_22_desktop.png') }}" />
				</a>
{% embed "dock.html.twig" %}
{% endembed %}
				<!--a class="float_right" href="http://vogel.local/" title="Secure Hosting">
					<img src="{#{ asset('bundles/app/css/jquery/desktop/images/misc/home_desc.png') }#}" />
				</a-->
			</div>