{% block float_right %}
							<span class="float_right">
								<a href="#" class="window_min"></a>
								<a href="#" class="window_resize"></a>
								<a href="{{ '#' ~ float_right.href }}" class="window_close"></a>
							</span>
{% endblock %}